
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="wrapper" *ngIf="!isLoading">
    <div class="account-header">
        <span>Account</span>
    </div>
    <div class="dp-container">
        <div class="dp-wrapper">
            <img [src]="userDp" alt="username" class="dp">
        </div>
        <div class="img-right" [style.display]="editImage ? 'none' : 'flex'">
            <input type="file" class="hidden-input" #file (change)="onImagePicked($event)">
            <button mat-mini-fab (click)="file.click()">
                <mat-icon>edit</mat-icon>
            </button>
        </div> 
        <div *ngIf="editImage" class="img-upload-wrapper">
            <div class="img-preview-wrapper">
                <img [src]="imgPreview" alt="Image Preview">
            </div>
            <div class="btns">
                <button mat-raised-button color="accent" (click)="onDpEdited()">
                    Upload
                </button>
                <button mat-stroked-button color="warn" (click)="onDpEditCancelled(); file.value=''">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="form-field">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput [(ngModel)]="formUsername" minlength="3" maxlength="16" pattern="[a-zA-Z0-9_]*" #usn (input)="checkUsernameValid()">
        </mat-form-field>
        <button mat-mini-fab (click)="onUsernameEdited()" [disabled]="!editUsername">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="form-field">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="email" matInput [(ngModel)]="formEmail">
        </mat-form-field>
        <button mat-mini-fab (click)="onEmailEdited()" [disabled]="userEmail == formEmail">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>