mat-card {
    /* width: 70%; */
    max-width: 640px;
    margin: 1rem auto;
    /* background-color: #1a1a1a; */
    background: transparent;
    box-shadow: none!important;
}

mat-divider {
    max-width: 700px;
    margin: 0 auto;
}

mat-card-content {
    margin-bottom: 0;
}

mat-spinner {
    margin: 1rem auto;
}

.spacer {
    flex: 1 1 auto;
}

button,a {
    margin-right: 1rem;
}

.clicked {
    color: cyan;
}