<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Categories</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['category', 'Funny']">Funny</a>
      <a mat-list-item [routerLink]="['category', 'Animal']">Animal</a>
      <a mat-list-item [routerLink]="['category', 'Gaming']">Gaming</a>
      <a mat-list-item [routerLink]="['category', 'Dark']">Dark humor</a>
      <a mat-list-item [routerLink]="['category', 'Anime and Manga']">Anime and Manga</a>
      <a mat-list-item [routerLink]="['category', 'Wholesome']">Wholesome</a>
      <a mat-list-item [routerLink]="['category', 'Comic']">Comic</a>
      <a mat-list-item [routerLink]="['category', 'Sports']">Sports</a>
      <a mat-list-item [routerLink]="['category', 'Cosplay']">Cosplay</a>
      <a mat-list-item [routerLink]="['category', 'GIF']">GIF</a>
      <a mat-list-item [routerLink]="['category', 'Movies']">Movies</a>
      <a mat-list-item [routerLink]="['category', 'T.V. Shows']">TV shows</a>
      <a mat-list-item [routerLink]="['category', 'Coronavirus']">Coronavirus</a>
      <a mat-list-item [routerLink]="['category', 'K-pop']">K-Pop</a>
      <a mat-list-item [routerLink]="['category', 'Celebrity']">Celebrity</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <app-header>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>