mat-card {
    max-width: 80%;
    max-height: 90vh;
    /* max-width: 640px; */
    margin: 1rem auto;
    background: transparent;
    box-shadow: none!important;
}

.content-img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    min-width: 320px;
}

mat-divider {
    /* max-width: 700px; */
    margin: 0 auto;
}

mat-card-content {
    margin-bottom: 0;
}

mat-spinner {
    margin: 1rem auto;
}

.spacer {
    flex: 1 1 auto;
}

button,a {
    margin-right: 1rem;
}

.clicked {
    color: cyan;
}