<mat-card>
    <mat-spinner *ngIf = "isLoading"></mat-spinner>
    <form *ngIf="!isLoading" (submit)="onSignup(SignupForm)" #SignupForm="ngForm">
        <mat-form-field [hideRequiredMarker]="true">  
            <mat-label>Enter E-mail</mat-label>
            <input matInput ngModel type="email" name="email" email required #email="ngModel">
            <mat-error *ngIf="email.invalid">Enter valid email</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Enter Username</mat-label>
            <input matInput ngModel type="text" name="username"  required #username="ngModel">
            <mat-error *ngIf="username.invalid">Enter valid username</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Enter Password</mat-label>
            <input matInput ngModel type="password" name="password" required #pwd="ngModel">
            <mat-error *ngIf="pwd.invalid">Enter valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color = "primary" type = "submit">Signup</button>
    </form>
</mat-card>
